html,
body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

*, *:before, *:after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'violet';
  src: url('./fonts/VioletSans-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

a, a:visited {
background: -webkit-linear-gradient(#eee, #333);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
text-decoration: underline !important;
}

li:hover {
  color: blue;
}

body {
  background-color: darkgrey;
  color: yellow;
  text-align: center;
  font-size: 2em;
}

.my-fun-class {
  width: 50%;
  color: black;
  border: 2px solid limegreen;
  display: block;
  margin: auto;
  text-align: left;
  border-radius: 20px;
  background-color: lightgrey;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: black;
  }

  h1 {
    font-size: 1em;
  }

}
